.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

header {
    background-color: rgb(229, 229, 229);
    height: 60px;
}

.custom-side-bar {
    background-image: url(../img/sidebar-bg.png);
    background-color: rgb(5, 30, 52);
    background-position: initial;
    width: 50px;
    height: calc(100vh - 60px);
}

main {
    height: calc(100vh - 60px);
    width: calc(100vw - 50px);
    background-color: rgb(27, 114, 232);
}

.custom-collapse {
    display: none;
}

@media screen and (min-width: 768px) {
    .custom-collapse {
        display: table-cell;
    }
}
 
@media screen and (min-width: 992px) {
    .custom-side-bar {
        width: 100px;
    }

    main {
        width: calc(100vw - 100px);
    }
}