.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

header {
    background-color: rgb(229, 229, 229);
    height: 60px;
}

.container-header,
.navbar,
form {
    width: 100%;
}

#logo {
    display: none;
    height: fit-content;
}

#mobile-logo {
    display: inline;
    width: 2.5rem;
}

i.fa-solid.fa-list-ul.me-4,
i.fa-solid.fa-circle-question.me-4,
i.fa-solid.fa-ellipsis-vertical.me-3 {
    display: none;
}

.custom-side-bar {
    background-image: url(../img/sidebar-bg.png);
    background-color: rgb(5, 30, 52);
    background-position: initial;
    width: 50px;
    height: calc(100vh - 60px);
    color: white;
}

.bg-hover-side-bar:hover {
    background-color: rgba(255, 255, 255, 0.384);
}

main {
    height: calc(100vh - 60px);
    width: calc(100vw - 50px);
    overflow: auto;
}

.offcanvas.offcanvas-end {
    width: 100%;
}

td img {
    width: 1.5rem;
}

.custom-upper-section {
    color: white;
}

.bg-custom-blue {
    background-color: rgb(27, 114, 232);
}

.bg-custom-dark-blue {
    background-color: rgb(22, 91, 186);
}

.custom-collapse {
    display: none;
}

.custom-collapse-side-bar-header {
    display: none;
}

@media screen and (min-width: 768px) {

    .custom-collapse {
        display: table-cell;
    }

}
 
@media screen and (min-width: 992px) {

    #logo {
        display: inline;
    }

    #mobile-logo,
    i.fa-solid.fa-plus.bg-custom-dark-blue.rounded-4.p-1 {
        display: none;
    }

    i.fa-solid.fa-list-ul.me-4,
    i.fa-solid.fa-circle-question.me-4,
    i.fa-solid.fa-ellipsis-vertical.me-3 {
        display: inline;
    }

    .custom-side-bar {
        width: 100px;
    }

    .custom-collapse-side-bar-header {
        display: inline;
    }

    main {
        width: calc(100vw - 100px);
    }

    .offcanvas.offcanvas-end {
        width: 40%;
    }
}