.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

header {
    background-color: rgb(229, 229, 229);
    height: 60px;
}

.container-header,
.navbar,
form {
    width: 100%;
}

#logo {
    display: none;
    height: fit-content;
}

#mobile-logo {
    display: inline;
    width: 2.5rem;
}

.fs-4.px-3.d-flex i:nth-child(-n+3) {
    display: none;
}


.custom-side-bar {
    background-image: url(../img/sidebar-bg.png);
    background-color: rgb(5, 30, 52);
    background-position: initial;
    width: 50px;
    height: calc(100vh - 60px);
    color: white;
}

main {
    height: calc(100vh - 60px);
    width: calc(100vw - 50px);
    overflow: auto;
}

td img {
    width: 1.5rem;
}

.custom-upper-section {
    color: white;
}

.bg-custom-blue {
    background-color: rgb(22, 91, 186);
}

.custom-collapse {
    display: none;
}

.custom-collapse-side-bar-header {
    display: none;
}

@media screen and (min-width: 768px) {
    .custom-collapse {
        display: table-cell;
    }

}
 
@media screen and (min-width: 992px) {

    #logo {
        display: inline;
    }

    #mobile-logo {
        display: none;
    }

    .fs-4.px-3.d-flex i:nth-child(-n+3) {
        display: inline;
    }

    .custom-side-bar {
        width: 100px;
    }

    .custom-collapse-side-bar-header {
        display: inline;
    }

    main {
        width: calc(100vw - 100px);
    }
}